.btn
    display: inline-block
    border: none
    background: $yellow-color
    @extend %main-font
    font-size: 30px
    line-height: 36px
    color: #ffffff
    border-radius: 40px
    cursor: pointer
    transition: .3s all
    &:hover
        background: #111111
    &:visited
        background: $grey-color
    &--disabled
        background: rgba(255, 149, 20, 0.4)
        cursor: default
        &:hover
            background: rgba(255, 149, 20, 0.4)
